:root {
  --orange: #f79d2c;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.hero-main {
  height: 100vh;
  background-image: url('../images/White-fade.png'), url('../images/man-1850181_1920-1.png');
  background-position: 50% 100%, 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  padding-bottom: 0;
  padding-left: 8%;
  position: relative;
  left: 0;
}

.hero-contents {
  justify-content: flex-start;
  align-items: center;
  margin-top: 0%;
  padding-top: 15%;
  padding-left: 0%;
  display: flex;
  position: relative;
  top: 0;
}

.main-heading-grid {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading {
  color: #fff;
  font-size: 6rem;
  line-height: 6rem;
}

.paragraph {
  max-width: 800px;
  color: #fff;
  margin-top: 20px;
  padding-left: 0%;
  font-size: 2rem;
  line-height: 2.8rem;
  position: relative;
}

.div-block {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.find-a-location {
  height: 100vh;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, .18), rgba(255, 255, 255, .62)), url('../images/world_map_PNG28-2.png');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  padding: 55px;
}

.inner-map {
  height: 75vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-2 {
  justify-content: center;
  font-size: 4.4rem;
  line-height: 5rem;
  display: flex;
  position: relative;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.search {
  width: 50%;
  max-width: none;
  background-color: #fff;
  border-radius: 30px;
  flex-flow: wrap;
  align-items: center;
  margin-top: 5%;
  padding: 41px;
  display: flex;
  position: relative;
  box-shadow: 0 8px 5px rgba(0, 0, 0, .2);
}

.search-button {
  width: 180px;
  height: 70px;
  background-color: var(--orange);
  border-radius: 20px;
  align-self: center;
  margin-bottom: 7px;
  margin-left: 64px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 1.6rem;
}

.search-input {
  height: 600px;
  max-height: 100px;
  max-width: 400px;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 18px;
}

.arrow-img {
  position: absolute;
  top: -19%;
  bottom: auto;
  left: auto;
  right: -6%;
}

.mini-map-img {
  display: none;
  position: absolute;
  top: 68px;
  left: 49px;
}

.questionaire {
  height: auto;
  background-color: #ececec;
}

.question-text-wrapper {
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  margin-bottom: 40px;
  padding-top: 5%;
  display: flex;
}

.question {
  font-size: 3rem;
  line-height: 4rem;
}

.grid {
  grid-template-rows: auto;
  margin-top: 5%;
  padding-left: 40px;
  padding-right: 40px;
}

.div-block-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fff;
  flex-direction: row;
  grid-template: "."
  / 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 0;
  padding-right: 0;
  display: grid;
}

.grid-2 {
  grid-template-rows: auto;
  grid-template-columns: .25fr .25fr;
}

.div-block-3 {
  flex-direction: row;
  display: flex;
}

.cell {
  flex-direction: row;
}

.grid-3 {
  grid-template-rows: auto;
  grid-template-columns: .25fr .25fr;
}

.grid-4 {
  grid-template-rows: auto;
  grid-template-columns: .75fr .75fr;
  align-content: center;
  padding-left: 249px;
  padding-right: 249px;
  position: relative;
}

.div-block-4 {
  width: 85%;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 0;
  padding-top: 0%;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.div-block-5 {
  background-color: #fff;
  border-radius: 20px;
  margin-left: 30px;
  padding-left: 0;
}

.div-block-6 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .25fr .25fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-2 {
  font-size: 2.3rem;
  display: flex;
}

.div-block-7 {
  font-size: 18px;
}

.paragraph-2 {
  max-width: 500px;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
}

.flex-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  margin-top: 0;
  display: grid;
}

.div-block-8 {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.image {
  margin-right: 20px;
}

.paragraph-3 {
  font-size: 36px;
  line-height: 46px;
}

.heading-3 {
  font-size: 48px;
  line-height: 72px;
}

.div-block-9 {
  width: 939px;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 0;
  padding: 85px;
  text-decoration: none;
}

.div-block-9:hover {
  background-color: #fff;
}

.div-block-9:active {
  background-color: rgba(255, 187, 102, .84);
}

.div-block-10 {
  height: 100vh;
}

.body {
  background-color: #ececec;
  font-family: Poppins, sans-serif;
}

.heading-4 {
  width: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-5 {
  color: #000;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 4rem;
  display: flex;
}

.locations {
  height: auto;
  margin-bottom: 0;
}

.grid-5 {
  grid-column-gap: 0px;
  grid-template-rows: auto auto auto;
  grid-template-columns: .75fr .75fr .75fr;
  grid-auto-flow: row;
  padding-left: 31px;
  padding-right: 31px;
}

.div-block-11 {
  width: 90%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 0 0;
  position: relative;
  box-shadow: 0 10px 6px rgba(0, 0, 0, .2);
}

.div-block-12 {
  width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
}

.image-2 {
  margin-top: 22px;
}

.div-block-13 {
  height: 60%;
  background-image: url('../images/Group-14.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  margin: 20px;
  padding: 0;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.grid-6 {
  flex-direction: column;
  grid-template-rows: auto;
  justify-content: center;
  display: flex;
}

.div-block-14 {
  width: 100%;
  justify-content: center;
  display: flex;
}

.heading-6 {
  padding-top: 6px;
  padding-left: 25px;
  font-size: 28px;
}

.image-3, .image-4 {
  width: 90%;
}

.image-5, .image-6, .image-7 {
  width: 85%;
}

.image-8, .image-9, .image-10, .image-11 {
  width: 90%;
}

.image-12 {
  position: absolute;
}

.button {
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-2 {
  width: 250px;
  background-color: var(--orange);
  border-radius: 20px;
  justify-content: center;
  margin-top: 84px;
  padding: 29px;
  font-size: 2rem;
  display: flex;
}

.button-wrapper {
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 220px;
  padding-bottom: 0;
  display: flex;
}

.hero-heading-left {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  display: flex;
  position: relative;
}

.container {
  width: 40%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero-wrapper {
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  width: 800px;
  height: 500px;
  max-width: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 140px;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 28px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  width: 50%;
  height: 44%;
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.hero-heading-left-2 {
  height: 100vh;
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.shadow-two-2 {
  width: 99.994%;
}

.heading-7 {
  font-size: 3rem;
  line-height: 4rem;
}

.body-2 {
  background-color: #f5f7fa;
  font-family: Poppins, sans-serif;
}

.section {
  height: 100vh;
}

.grid-7 {
  grid-column-gap: 20px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 40px;
  padding-right: 40px;
}

.image-13 {
  border-radius: 20px;
}

.block-card {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.footer-dark {
  background-color: #000;
  background-image: url('../images/Rectangle-4380.png');
  background-position: 0 0;
  background-size: auto;
  border-bottom: 1px solid #e4ebf3;
  margin-top: 50px;
  padding: 50px 30px 15px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  max-width: none;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: 0;
  margin-right: 0;
}

.heading-8 {
  color: #f9f9f9;
}

.button-3 {
  display: block;
}

.button-4 {
  background-color: var(--orange);
  border-radius: 8px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  font-weight: 700;
}

.div-block-17 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 991px) {
  .questionaire {
    height: auto;
  }

  .flex-block {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .locations {
    height: auto;
    flex-direction: column;
    margin-top: 10%;
    display: flex;
  }

  .grid-5 {
    flex-direction: column;
    display: flex;
  }

  .container {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    align-self: center;
    margin-bottom: 40px;
  }

  .container-2 {
    max-width: 728px;
  }

  .grid-7 {
    flex-direction: column;
    display: flex;
  }

  .container-3 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .container-4 {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-8 {
    align-items: center;
  }

  .heading-5 {
    font-size: 3rem;
  }

  .locations {
    margin-top: 250%;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }

  .hero-split {
    margin-left: 0;
  }

  .hero-heading-left-2 {
    padding: 60px 15px;
  }

  .grid-7 {
    flex-direction: column;
    display: flex;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }
}

@media screen and (max-width: 479px) {
  .main-heading-grid {
    align-content: stretch;
    align-self: center;
    justify-items: stretch;
  }

  .heading {
    font-size: 2rem;
  }

  .search {
    width: 100%;
    margin-top: 30%;
  }

  .mini-map-img {
    display: none;
  }

  .questionaire {
    height: auto;
  }

  .div-block-8 {
    align-items: center;
  }

  .heading-3 {
    margin-left: 0;
    padding-left: 10px;
  }

  .heading-5 {
    font-size: 3rem;
  }

  .locations {
    height: auto;
    flex-direction: column;
    margin-top: auto;
    display: flex;
  }

  .grid-5 {
    flex-direction: column;
    display: flex;
  }

  .container {
    max-width: none;
  }

  .hero-split {
    align-self: center;
    margin-left: 0;
  }

  .container-2 {
    max-width: none;
  }

  .grid-7 {
    flex-direction: column;
    display: flex;
  }

  .container-3, .container-4 {
    max-width: none;
  }

  .div-block-16 {
    flex-direction: column;
    display: flex;
  }
}

#w-node-a1bda647-6c31-17bf-31f9-9f1282cf6ec5-a8b3285f, #w-node-_198df803-adca-af96-e6fa-bb21a1b75a97-a8b3285f, #w-node-_3dbb0952-faae-961d-1272-974107e172d6-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_6de092db-f982-9da1-8c91-41a88f87c104-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_6de092db-f982-9da1-8c91-41a88f87c105-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7c07a633-599f-5841-dd58-103fdaeae5fc-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_7c07a633-599f-5841-dd58-103fdaeae5fd-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7c07a633-599f-5841-dd58-103fdaeae606-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_7c07a633-599f-5841-dd58-103fdaeae607-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_24e95ad4-9ea5-187e-ed27-ad4efb83c2a6-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_24e95ad4-9ea5-187e-ed27-ad4efb83c2a7-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_24e95ad4-9ea5-187e-ed27-ad4efb83c2b0-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_24e95ad4-9ea5-187e-ed27-ad4efb83c2b1-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c6377797-d3b2-532e-7879-0418ff7fd7b7-a8b3285f, #w-node-f77e51ac-3c2e-7d6f-a6c2-a2165c9f9ff1-a8b3285f, #w-node-_0385d50f-4849-204c-cb7d-094e053d874b-a8b3285f, #w-node-_95ba99d0-6f35-2ecd-da95-496c1c8f9939-a8b3285f, #w-node-_7da37561-87ae-be07-cee6-a67bd199f848-a8b3285f, #w-node-_9bf2808e-2ba1-704a-535a-7a5a16b5025e-a8b3285f, #w-node-_32883c21-a6f9-430c-354c-074fbf73cbad-a8b3285f, #w-node-ba1d8c8c-704c-d8cc-dae8-af0e4c797315-a8b3285f, #w-node-_3cd23798-346b-61d9-3bfb-435c156bbeba-a8b3285f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_0e536fa4-55c0-4469-07e0-db1749177e33-d23b75a3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 479px) {
  #w-node-a1bda647-6c31-17bf-31f9-9f1282cf6ec5-a8b3285f {
    align-self: center;
    justify-self: center;
  }
}


